test/fixtures/add-state-machine/expected/create-with-reindex-no-presavefn/state-machines/create-pizza.json
{
  "Comment": "Create pizza using pizzaEditingForm form.",
  "name": "Create pizza",
  "version": "1.0",
  "categories": [
    "pizzaShop"
  ],
  "instigators": [
    "user"
  ],
  "StartAt": "AwaitingHumanInput",
  "States": {
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "wmfs_pizzaEditingForm",
        "dataPath": "$.formData"
      },
      "ResultPath": "$.formData",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "Next": "DeltaReindex"
    },
    "DeltaReindex": {
      "Type": "Task",
      "Resource": "module:deltaReindex",
      "ResourceConfig": {
        "core": "tymly"
      },
      "End": true
    }
  }
  ,"restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
